# A/B Testing

In [ ]:
!pip install ab-testing-analysis

In [ ]:
import pandas as pd

In [ ]:
from ab_testing import ABTest

In [3]:
df = pd.read_csv('ab_data.csv',usecols=['user_id','group','converted'])
df.head()

   user_id      group  converted
0   851104    control          0
1   804228    control          0
2   661590  treatment          0
3   853541  treatment          0
4   864975    control          1

In [7]:
print(df.shape[0])
print(df.group.unique())
print(df.converted.unique())

294478
['control' 'treatment']
[0 1]

In [8]:
ab_obj = ABTest(df,response_column='converted',group_column='group')

print(ab_obj.conversion_rate())

          Conversion Rate Standard Deviation Standar Error
control            12.04%              0.325      0.000848
treatment          11.89%              0.324      0.000843

# END